php_value default_charset "UTF-8"
 
#SetEnvIf Request_URI "/aep/index.php?r=servicecall/getdataforengineerdesktop$" test_uri
SetEnvIf Request_URI "/aep/index.php?r=servicecall/sendmessagetoamica$" test_uri

Order Deny,Allow
Allow from all

AuthUserFile /Applications/XAMPP/xamppfiles/htdocs/rapport/forManufaturers/AmicaEngineerPortal/aep/.htpasswd
AuthGroupFile /dev/null
AuthName "Admin"
AuthType Basic



<Limit GET POST>
  require valid-user
</Limit>
<LimitExcept GET POST>
  Order Deny,Allow
  Deny from All
</LimitExcept>


Allow from env=test_uri
Satisfy any

php_flag register_globals 0
php_flag magic_quotes_gpc 0

#------- amica
#------- amica1957!
