php_value default_charset "UTF-8"


Order Deny,Allow
Allow from all

AuthUserFile /var/www/html/amicaservice.co.uk/html.portal/aep/.htpasswd
AuthGroupFile /dev/null
AuthName "Admin"
AuthType Basic

<Limit GET POST>
  require valid-user
</Limit>
<LimitExcept GET POST>
  Order Deny,Allow
  Deny from All
</LimitExcept>

php_flag register_globals 0
php_flag magic_quotes_gpc 0

#------- amica 
#------- amica1957!
 